body{
    background-color: blanchedalmond;
}
table{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}
table,th,td{
    border: 1px solid black;
    padding: 8px;
}
.customer-form,.customer-header{
    text-align: center;
}
.form-option{
    display: flex;
    flex-direction: row;
}
